body, html {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.accordion .card-header {
  background-color: #f7f7f7;
}

.accordion .card-header .btn {
  color: #007bff; /* Bootstrap primary color */
}

.accordion .card-body {
  font-size: 16px;
}